*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    margin:3% 10%;
}
h1, h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    padding-top:50px;
}
[class*="__textarea"]{
    width: 100%;
    height: 30vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#paste-button{
    cursor: pointer;
    border:none;
    background-color: black;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10%;
}

.orange{
    color: orange
}